.popular-quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.popular-quiz > .technology-quiz {
    display: flex;
    padding: 1em;
    margin: 0.5em;
    background: #fffefe;
    width: 80%;
    border-radius: 1em;
}

.popular-quiz > .technology-quiz > a >.title-quiz {
    margin-left: 1em;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-family: var(--font-main);
    color: var(--color-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
}


.popular-quiz > .technology-quiz > a > .questions-tech {
    font-size: 0.8em;
    margin-top: 1em;
}

.popular-quiz > .sport-quiz > a > .questions-sport {
    font-size: 0.8em;
    margin-top: 1em;
}

.popular-quiz > .music-quiz > a > .questions-music {
    font-size: 0.8em;
    margin-top: 1em;
}


.popular-quiz > .sport-quiz {
    display: flex;
    padding: 1em;
    margin: 0.5em;
    background: #fffefe;
    width: 80%;
    border-radius: 1em;
}

.popular-quiz > .sport-quiz > a >.title-quiz {
    margin-left: 1em;
    font-weight: bold;
}




.popular-quiz > .sport-quiz > .ball-img {
    background: #c0f0ff;
    border-radius: 1em;
    width: 70px;
    display: flex;
    justify-content: center;
    padding: 0.3em;
}

.popular-quiz > .technology-quiz > .laptop-img {
    background: #ffc0cb;
    border-radius: 1em;
    width: 70px;
    display: flex;
    justify-content: center;
    padding: 0.3em;
}

.popular-quiz > .technology-quiz > .star-icon {
    width: 16px;
    height: 16px;
    fill: gold;
    margin-left: 1em;
    margin-top: 0.4em;
}

.popular-quiz > .technology-quiz > .evaluation-note {
    font-family: var(--font-main);
    font-size: 0.8rem;
    margin-top: 0.4em;
    margin-left: 0.4em;
}

.popular-quiz > .sport-quiz > .star-icon {
    width: 16px;
    height: 16px;
    fill: gold;
    margin-left: 1em;
    margin-top: 0.4em;
}

.popular-quiz > .sport-quiz > .evaluation-note {
    font-family: var(--font-main);
    font-size: 0.8rem;
    margin-top: 0.4em;
    margin-left: 0.4em;
}

.popular-quiz > .music-quiz > .star-icon {
    width: 16px;
    height: 16px;
    fill: gold;
    margin-left: 1em;
    margin-top: 0.4em;
}

.popular-quiz > .music-quiz > .evaluation-note {
    font-family: var(--font-main);
    font-size: 0.8rem;
    margin-top: 0.4em;
    margin-left: 0.4em;
}

.popular-quiz > .music-quiz > .music-img {
    background: #c5032392;
    border-radius: 1em;
    width: 70px;
    display: flex;
    justify-content: center;
   
}

.popular-quiz > .music-quiz {
    display: flex;
    padding: 1em;
    margin: 0.5em;
    background: #fffefe;
    width: 80%;
    border-radius: 1em;
}

.popular-quiz > .music-quiz > a >.title-quiz {
    margin-left: 1em;
    font-weight: bold;
}

