.header {
    padding: 2em;
    display: flex;
    align-items: center;
    
}

.header > .profile-header {
    background: #5a5a5a99;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.header > .title-profile {
    font-family: var(--font-main);
    margin-left: 1em;
    margin-right: 6em;
    font-weight: light;
}