.header {
    padding: 2em;
    display: flex;
    align-items: center;
    
}

.header > .profile-header {
    background: #5a5a5a99;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.header > .title-profile {
    font-family: var(--font-main);
    margin-left: 1em;
    margin-right: 6em;
    font-weight: light;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 3em;
    }

    .header > .profile-header {
        width: 64px;
        height: 64px;
    }

    .header > .title-profile {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        margin-left: 17em;
    }

    .header > .title-profile {
        margin-right: 8em;
    }
}